h1,
h2,
h3,
h5,
p,
footer,
form {
  text-align: center;
}

h5 {
  margin-bottom: -5px;
}
body {
  background-color: #ebe9e1;
  font-family: sans-serif;
  color: #444;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-page {
  font-size: 20px;
}

td {
  padding: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #444;
}

a:hover,
a:visited {
  display: block;
  color: #111;
  transform: scale(1.1);
}

.invis {
  display: none;
}

form input {
  padding: 6px 12px;
  margin-bottom: 12px;
}

form button {
  padding: 6px 12px;
}

form input,
form button {
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}
